.columna{
 width:200px;
 height:200px;
 float:left;
 border: 2px solid #FFFFFF;
 -webkit-border-radius: 10px;
         -ms-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
 cursor:move;
}

.colu {
  width: 70px;
  height: 30px;
  border-radius: 6px;
  text-align: center;
  border: 1px solid black;
  padding: 3px;
}

footer {
  background-color: palevioletred;
  text-align: center;
}

header {
  background-color: palevioletred;
  text-align: center;
}

section {
  background-color: peru;
  text-align: center;
  height: 500px;
  padding-top: 50px;
}

h1 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}


.columna.over {
  border: 2px solid #FF0000;
}
 
#green {
  background-color: palegreen
}

#black {
  background-color: blue;
}

#orange {
  background-color: rgb(115, 255, 0);
}

#pink {
  background-color: pink;
}

#purple {
  background-color: purple;
}

#red {
  background-color: #FF0000;
}

#white {
  background-color: paleturquoise;
}

#yellow {
  background-color: yellowgreen;
}

